{%extends 'admins/adminbase.html'%}
{%block contents%}
<section class="about">
    <div class="container">
        <h2>Attacks on SCADA networks</h2>
        <p align="justify">SCADA system attacks mostly aim at Manufacturing
            plant shutdown, train system delays, and sewage system
            spillage. SCADA sector should enhance its capability to
            bolster security measures for both legacy and contemporary
            devices. This enhancement should be carried out in a manner
            that ensures profitability, particularly concerning remote
            SCADA devices situated beyond corporate networks, as well
            as local SCADA devices, including those deployed on
            factory premises. By implementing improvements, existing
            SCADA devices can gain the ability to regulate their
            communications, identify and alert about unauthorized
            access or unusual data flow patterns, and incorporate
            comprehensive policy management for heightened security.
            These advancements collectively contribute to elevating the
            security stature of SCADA devices, effectively safeguarding
            them against the majority of cyber threats</p>
        <p align="justify">Network communication (local and remote):
            SCADA networks employ several communication
            methods. Short-range communication utilizes serial
            communication, USB, and custom wired networks.
            Ethernet, TCP/IP, WiFi, dial-up networking,
            cellular packet data, and other protocols are utilized
            for long-distance communication. In addition,
            SCADA networks increasingly employ the Internet
            for long-distance communication and remote
            access</p>
    </div>
</section>
{%endblock%}