{%extends 'base.html'%}
{%block contents%}

<section class="hero">
    <div class="container">
        <h1>SCADA Systems Security</h1>
        <p align="justify">Supervisory control and data acquisition
            (SCADA) systems security is a critical infrastructure issue, not
            only to maintain service continuity in the face of hostile and
            cyber-terrorist assaults but also to assure the resilience and
            integrity of processes and operations. In addition to security
            vulnerabilities at the system level, SCADA protocols are
            frequently inherently susceptible. They may lack key security
            precautions. Contrary to that, they often depend on "security
            by obscurity" or isolation from public networks. Without
            security methodologies like encryption and authentication, the
            underlying protocols present a convenient attack vector for
            hackers attempting to compromise SCADA devices.
            The authors bring attention to the security concerns and
            unresolved matters involving SCADA devices, showcasing the
            significance of enhancing their security. Furthermore, the
            paper evaluates SCADA networks, going beyond that to
            deliberate on the security measures accessible for countering
            attacks on SCADA networks.</p>

    </div>
</section>
{%endblock%}