{%extends 'users/userbase.html'%}
{%block contents%}
<section class="about">
    <div class="container">
        <center>
            <h2>Attacks on SCADA networks</h2>
            <p align="justify">
            <table border="2px">
                {%for key,value in data.items%}
                <tr>
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
                {%endfor%}
            </table>
            </p>
        </center>
        <p align="justify">Network communication (local and remote):
            SCADA networks employ several communication
            methods. Short-range communication utilizes serial
            communication, USB, and custom wired networks.
            Ethernet, TCP/IP, WiFi, dial-up networking,
            cellular packet data, and other protocols are utilized
            for long-distance communication. In addition,
            SCADA networks increasingly employ the Internet
            for long-distance communication and remote
            access</p>
    </div>
</section>
{%endblock%}