{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale= 1.0">
    <title>Securing SCADA Systems: Advanced Threat Mitigation and Resilient Cybersecurity Strategies for Critical 
        Infrastructure</title>
    <link rel="stylesheet" href="{%static 'css/styles.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <h1>Securing SCADA Systems: Advanced Threat Mitigation and Resilient Cybersecurity Strategies for Critical Infrastructure</h1>
    <nav>
        <ul>
            <li class="active"><a href="{% url 'UserHome' %}">Home</a></li>
             <li class="active"><a href="{% url 'sendScadaMessage' %}">Scada Message</a></li>
            <li class="active"><a href="{% url 'MachinesLogs' %}">Machine Logs</a></li>
            <li class="active"><a href="{% url 'index' %}">Logout</a></li>
        </ul>
    </nav>
</header>
<main>
    {%block contents%}
    {%endblock%}


</main>
<footer>
    <div class="container">
        <p>
            &copy; All Rights Reserved. Designed and Developed by
            <a href="#">AIML Corporations</a>
        </p>
    </div>
</footer>
</body>
</html>